.react-range-datepicker-container
  display: inline-block
  position: relative
  color: black
  line-height: normal

  .react-range-datepicker-inputs
    input
      text-align: center
      padding: 5px

  .react-range-datepicker-calendar
    right: 0
    width: 200px
    height: 200px
    overflow: hidden
    display: table
    background-color: #ffffff
    position: absolute
    z-index: 200
    border: 1px solid #cccccc
    border-radius: 5px

    *
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box

    @media (max-width: 1120px)
      margin: 0

    .react-range-datepicker-header-block
      display: table-row

      .react-range-datepicker-header
        height: 30px
        vertical-align: middle
        text-align: center
        position: relative

        .react-range-datepicker-date-container
          position: absolute
          display: table
          width: 200px
          left: 0
          right: 0
          top: 0
          bottom: 0
          margin: auto
          font-size: 14px
          z-index: 1
          font-weight: bold

          .react-range-datepicker-date
            display: table-cell
            vertical-align: middle
            text-align: center

            .react-range-datepicker-month
              font-size: 14px
              color: #5b5b5b
              text-transform: capitalize

            .react-range-datepicker-year
              color: #3d49b1

      .react-range-datepicker-button
        margin: 2px
        display: inline-block
        background-color: #f1f1f1
        color: #bebebe
        outline: 0
        border: 0
        padding: 0 !important
        cursor: pointer
        font-size: 16px
        width: 20px
        height: 20px
        border-radius: 50px
        z-index: 2
        position: relative

        &:hover
          background-color: #e0e0e0

        &.react-range-datepicker-left
          float: left

        &.react-range-datepicker-right
          float: right

    .react-range-datepicker-days-names-block
      display: table-row

      .react-range-datepicker-days-names-container
        display: table
        width: 100%
        border-top: 1px solid #efefef
        border-bottom: 1px solid #efefef

        .react-range-datepicker-days-names
          height: 20px
          display: table-row

          .react-range-datepicker-day-name
            display: table-cell
            text-align: center
            vertical-align: middle
            color: #62636c
            background-color: #f6f6f6

    .react-range-datepicker-numbers-block
      display: table-row
      height: 100%

      .react-range-datepicker-numbers-container
        display: table
        width: 100%
        height: 100%
        border-collapse: collapse
        padding-bottom: 1px

        .react-range-datepicker-number-row
          display: table-row

          .react-range-datepicker-number
            &.react-range-datepicker-in-range
              background-color: #f0f0f0

            &.react-range-datepicker-today
              background-color: #fbe8e8

            &:hover, &.react-range-datepicker-selected
              outline: 1px solid #5c67ff

            display: table-cell
            text-align: center
            vertical-align: middle
            border: 1px solid #f0f0f0
            cursor: pointer
            position: relative

            &.react-range-datepicker-not-present
              color: #cacaca

            .react-range-datepicker-item-mark
              position: absolute
              border-radius: 50px
              top: 5px
              left: 5px
              width: 7px
              height: 7px
              background-color: #c4331d
